<%- include("./head.ejs")%>
<section id=""  class="clients-say">
    <div class="container">
        <div class="section-header">
            <!-- <h2>Login</h2> -->
        </div>

        <div class="container mt-20">


            <form action="login" method="post">

                <div class="container mt-20">
    
                    
                    <div class="row form-group mt-20">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h1>Welcome!!!!</h1>
                    <h2 style="text-decoration: underline;" >Graffers ID</h2>
                            
                       
                        <div class="col-md-4"></div>
                    </div>
                </div>
                    
    
                <div class="row form-group mt-20">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <label  for="">User name</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" value="" name="username" type="text">
                    </div>
                    <div class="col-md-2"></div>
                </div>


                <div class="row form-group">   
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <label for="">Password</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" name="password" value="" type="password">
                    </div>
                    <div class="col-md-2"></div>
                </div>




                <div class="row form-group">   
                    <div class="col-md-2"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <input name="chk" id="chk" type="checkbox" value="remember">
                        <label for="">Remember Me </label>
                    </div>
                    <div class="col-md-2"></div>
                </div>


                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                    
                        <button  class="btn gradient-color btn-style company">Login</button>
                    
                </div>
                <div class="col-sm-5"></div>

            </form>

    </div>
    <span id="owner" >
        <p>Created By - <b>Aashish Khandelwal</b></p>
        <p>Contact No. - 9691536456 , 9406600788</p>
        <p>Email - <b>ashish.khandelwal201@gmail.com</b></p>
        <hr>
       </span>
    <br><br><br><br>    
    
    </div>

</section>

<%- include("./footer.ejs")%>


<span id="owner" >
    <p>Created By - <b>Aashish Khandelwal</b></p>
    <p>Contact No. - 9691536456 , 9406600788</p>
    <p>Email - <b>ashish.khandelwal201@gmail.com</b></p>
    <p>Applied for JS stack developer as 2yr+ experience</p>   
    <hr>
   </span>