<style>
    body{
        background-color: aqua;
    }
    #owner{
           position: absolute;
           top: 60%;
           right: 42%;
        }

        </style>
<center>
    <span id="owner" >
        <p>Created By - <b>Aashish Khandelwal</b></p>
        <p>Contact No. - 9691536456 , 9406600788</p>
        <p>Email - <b>ashish.khandelwal201@gmail.com</b></p>
        <p>Applied for JS stack developer as 2yr+ experience</p>   
        <hr>
       </span>
    <br><br><br><br>    
    <h1>Welcome!!!!</h1>
    <h2 style="text-decoration: underline;" >TECH-DOME</h2>

<br><br>
<br><br><br><br>

Registration link -->
<a href="/signup"> Click here for registration</a>&nbsp; &nbsp; &nbsp; &nbsp; 
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
Login -->
<a href="/login">Click here to Login</a>

</center>