
<a href="/">    Back </a>



<style>

    body{
            background-color: rgb(106, 219, 219);
        }
        .a{
      background-color: #54c527; /* Green */
      border: none;
      color: white;
      padding: 8px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
    #owner{
           position: absolute;
           top: 50%;
           right: 42%;
        }
    </style>
    
    
    
    <center>
    <form method="post" action="/login">
        <br><br>
 
    <h1>Login here!!!!</h1>
        <h4>Email : <input type="text" id="email" name="username"></h4>
    <h4>Password : <input type="password" id="password" name="password"></h4><br><br>
    <button class="a" type="submit" > Login </button>
    </form>
    <br><br>
    
    
    Registration link -->
    <a href="/signup"> Click here for registration</a>&nbsp; &nbsp; &nbsp; &nbsp; 
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    
    
    
    </center>

    <span id="owner" >
        <p>Created By - <b>Aashish Khandelwal</b></p>
        <p>Contact No. - 9691536456 , 9406600788</p>
        <p>Email - <b>ashish.khandelwal201@gmail.com</b></p>
        <p>Applied for JS stack developer as 2yr+ experience</p>   
        <hr>
       </span>