
<a href="/">    Back </a>



<style>

    body{
            background-color: rgb(106, 219, 219);
        }
        .a{
      background-color: #54c527; /* Green */
      border: none;
      color: white;
      padding: 8px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
    #owner{
           position: absolute;
           top: 50%;
           right: 30%;
        }
    </style>
    
    
    
    <center>
    <form method="post" action="/signup">
        <br><br>
 
    <h4>name : <input type="text" id="email" name="name"></h4>
    <h4>username : <input type="text" id="" name="username"></h4>
    <h4>Password : <input type="password" id="password" name="password"></h4><br><br>
    <a href="/login">   <button class="a" type="button" > create account </button></a>
    </form>
    <br><br>
    

    
    
    </center>

    <span id="owner" >
        <p>Created By - <b>Aashish Khandelwal</b></p>
        <p>Contact No. - 9691536456 , 9406600788</p>
        <p>Email - <b>ashish.khandelwal201@gmail.com</b></p>
        <p>Applied for JS stack developer as 2yr+ experience</p>   
        <hr>
       </span>