








<%- include("./head.ejs")%>
<section id=""  class="clients-say">
    <div class="container">
        <div class="section-header">
            <h2> Welcome!!!! Techdom</h2>
        </div>
        <div class="container">
            <form action="login" method="post">
                <div class="container">
                    <div class="row form-group ">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <h4>Start the application with</h4>
                                    <a class="big-text" href="/login">Login</a>
                                </div>
                        <div class="col-md-4">
                            <h4>Create a new user with</h4>
                                <a class="big-text" href="/signup">signup</a>
                        </div>
                        <div class="col-md-2"></div>

            </div>
                    
    
    </div>


    <span id="owner" >
        <p>Created By - <b>Aashish Khandelwal</b></p>
        <p>Contact No. - 9691536456 , 9406600788</p>
        <p>Email - <b>ashish.khandelwal201@gmail.com</b></p>
        <p>A new patch with including <b>bootstrap</b></p>

        <hr>
       </span>   <br><br><br><br>    
    
    </div>

</section>

<%- include("./footer.ejs")%>
<style>
    #owner{
           position: absolute;
           top: 60%;
           right: 12%;
        }

        </style>