 
    
    
    
    
    <%- include("./head.ejs")%>
    <section id=""  class="clients-say">
        <div class="container">
            <!-- <div class="section-header"> -->
                <!-- <h2> Signup Here</h2> -->
            <!-- </div> -->
            
            <div class="container">
                <form action="/signup" method="post">
                    <div class="container">

                        <a href="/">    Back </a>
                        <div class="row form-group ">
                            <div class="col-md-5"></div>
                            <div class="col-md-4">
                        <h2 style="text-decoration: underline;" >Signup Here</h2>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                        
                    <div class="row form-group mt-20">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <label  for="">Name</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" value="" name="name" type="text">
                        </div>
                        <div class="col-md-2"></div>
                    </div>
    


                    <div class="row form-group mt-20">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <label  for="">User name</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" value="" name="username" type="text">
                        </div>
                        <div class="col-md-2"></div>
                    </div>
    
    
                    <div class="row form-group">   
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <label for="">Password</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" name="password" value="" type="password">
                        </div>
                        <div class="col-md-2"></div>
                    </div>
    
    
                    <div class="col-sm-5"></div>
                    <div class="col-sm-2">
                            <button  class="btn gradient-color btn-style company">Create User</button>
                        
                    </div>
                    <div class="col-sm-5"></div>
    
                </form>
    
        </div>
    
    
        <span id="owner" >
            <p>Created By - <b>Aashish Khandelwal</b></p>
            <p>Contact No. - 9691536456 , 9406600788</p>
            <p>Email - <b>ashish.khandelwal201@gmail.com</b></p>
    
            <hr>
           </span>   <br><br><br><br>    
        
        </div>
    
    </section>
    
    <%- include("./footer.ejs")%>
    